<div id="<%= dom_id dog %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= dog.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Registered Name:</strong>
    <%= dog.registered_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Breed:</strong>
    <%= dog.breed %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">DOB:</strong>
    <%= dog.dob %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= dog.notes %>
  </p>

</div>
